# emacs
/emacs/.emacs.d/auto-save-list
/emacs/.emacs.d/backups
/emacs/.emacs.d/elpa
/emacs/.emacs.d/emacs-init.el
/emacs/.emacs.d/smex-items
/emacs/.emacs.d/recentf
/emacs/.emacs.d/eshell

# systemd
/systemd/.config/systemd/user/default.target.wants/
/systemd/.config/systemd/user/timers.target.wants/

# swap files
*.swp
/emacs/.emacs.d/.#smex-items
/emacs/.emacs.d/.#recentf
/mpd/.config/mpd/log
/mpd/.config/mpd/pid
/mpd/.config/mpd/state

# var
/ncmpcpp/.ncmpcpp/error.log
/beets/.config/beets/library.db
/mpd/.config/mpd/database
/ncmpcpp/.ncmpcpp/lyrics/
